#search_results {
    font-size: 14px;
    list-style-type: none;
    position: absolute;
    z-index: 1;
    background: white;
    border: 1px solid #ddd;
    border-top: none;
    border-bottom: none;
    box-shadow: 5px 10px 5px #ddd;
}
#search_results li {
    border-bottom: 1px solid #ddd;
}
#search_results li a {
    padding: 5px 10px;
    display: list-item;
}
#search_box {
    width: 100% !important;
}
#site_search {
    position: relative;
}